span{
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(27, 27, 27);
}
p, a, ul li, ol{
     font-family: 'Comfortaa', cursive;
     color: rgb(27, 27, 27);
}

p::first-letter {
    font-size: 18px;
    color: rgb(0, 76, 255);
}
.article li, li + li{
    padding-bottom: 10px;
}

.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
ul li{
    font-size: 24px;
}

.article .particl {
    letter-spacing: 0.1em;
}
