
span{
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(27, 27, 27);
}
p, a, ul li, ol{
     font-family: 'Comfortaa', cursive;
     color: rgb(27, 27, 27);
}

.article li, li + li{
    padding-bottom: 10px;
}

.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
h1, h2{
    color: rgb(8, 60, 85);
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-align: center;
}

ul li{
    font-size: 24px;
}

h1{
    font-size: 55px;
}
h2{
    font-size: 46px;
}
.article .particl {
    letter-spacing: 0.1em;

}